.img-card {
  width: 208px;
  height: auto;
}

footer li:hover {
  text-decoration: underline;
}

footer {
  margin: 0 auto;
  max-width: 85%;
}

header {
  background: linear-gradient(0deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 1) 244%);
}

.btn-color {
  background-color: rgb(48, 47, 47);
}

/* Per rimuovere lo sfondo colorato */
.checkbox-div .form-check-input {
  background-color: transparent;
  padding: 0.7rem;
}

/*spunta bianca */
.checkbox-div .form-check-input:checked {
  border-color: gray;
}

/* testo delle label */
.checkbox-div .form-check-label {
  color: #fff;
}

/* Per rendere la larghezza del bottone al 25% */
.larghezza25 {
  width: 25%;
}

/* Per rendere la larghezza del bottone al 40% */
.larghezza40 {
  width: 40%;
}
